.DS_Store
.installed.cfg
.mr.developer.cfg
.Python
.svn
*.egg
*.egg-info
*.mo
*.pyc
*.pyo
bin
build
database.cfg
develop-eggs
dist
downloads
eggs
include/
lib/
parts
pip-selfcheck.json
test_database.py
var
